@font-face {
    font-family: 'brutalista';
    src: url('./fonts/Fontspring-DEMO-brutalista-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nixieone';
    src: url('./fonts/NixieOne.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cmu';
    src: url('./fonts/cmunrm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'nixieone';
}

body {
    background-color: white;
}

#first-page {
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all 1s ease-in-out;
}

#first-page img {
    filter: invert(1);
    max-width: 20vw;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-1vw);
    }
    60% {
        transform: translateY(-0.5vw);
    }
}


#content img {
    max-width: 10vw;
}

#content {
    display: none;
    opacity: 0;
    margin-left: 3vw;
    margin-top: 4vw;
    transition: all 0.3s ease-in-out;
}

#content nav {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#content nav a {
    cursor: pointer;
    font-size: 0,8vw;
    margin-bottom: 10px;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

#content nav a img{
    max-width: 40px;
    filter: grayscale(1);
    transition: all 0.3s ease-in-out;
}

#content nav a img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

#content nav p {
    max-width: 150px;
    font-family: 'nixieone';
    color: gray;
    font-size: small;
    font-weight: 400;
}

#content nav a:hover {
    color: #738584;
}


#content nav #info {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

#gallery {
    height: 100%;
    margin-top: -350px;
    margin-left: 300px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
.column {
    -ms-flex: 29vw;
    flex: 29vw;
    max-width: 25vw;
    margin-left: 1vw;
  }
  
.column img {
    margin-top: 1vw;
    vertical-align: middle;
    min-width: 25vw; 
    background-color: none;
    cursor: default;
    transition: all 0.3s ease-in-out;
  }

  .column img:hover {
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.underline-animation {
    position: relative;
    display: flex;
    width: max-content;
}

.underline-animation::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #738584;
    transform: scaleX(0);
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
}

.underlined {
    position: relative;
    display: flex;
    width: max-content;
    font-weight: 900;
}

.underlined::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(1);
    background-color: #738584;
    transform-origin: 0% 0%;
}

.underline-animation:hover::before {
    transform: scaleX(1);
}

#text {
    height: 100%;
    width: 30vw;
    align-items: center;
    justify-content: center;
    margin-top: -350px;
    margin-left: 300px;
}

#text p{
    width: 30vw;
    text-indent: 2vw;
    text-align: justify;
}

#text h2 {
    font-family: 'cmu';
    font-size: medium;
    width: 30vw;
    text-align: center;
    font-weight: 900;
}

#text img{
    margin-left: 10vw;
}

a img{
    max-width: 5vw;
    margin-bottom: 1vw;
    transition: all 0.3s ease-in-out;
}

#text a img:hover{
    transform: translateY(-0.1vw);
    transition: all 0.3s ease-in-out;
}

#mobile-menu-toggle {
    display: none;
}

#mobile-close-icon {
    display: none;
}



#mode-toggle {
    width: 10vw;
    margin-top: 1vw;
    padding: 10px 15px;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.dark-mode {
    background-color: #161616;
    filter: invert(1);
}

.dark-mode-img {
    filter: invert(1);
}